Aqui estão alguns exercícios para quem está iniciando os estudo em python e quer praticar:

#Exercícios básicos

Faça um programa que calcule a média de 3 números

In [ ]:
a = int(input("Informe o primeiro valor: "))
b = int(input("Informe o segundo valor: "))
c = int(input("Informe o terceiro valor: "))

media = (a+b+c)/3
print(media)

5.666666666666667

Faça um Programa que converta metros para centímetros.

In [ ]:
metros = 5
centimetros = metros * 100
print(centimetros)

500

In [ ]:
def converte (metros):
  centimetros = metros * 100
  return centimetros

metros = int(input("Informe o valor em metros:"))
print(converte(metros))

Informe o valor em metros:6
600

In [ ]:
centimetros = float(input("Informe o valor em centimetros: "))
metros = centimetros / 100
print(metros)

Faça um Programa que peça 2 números inteiros e um número real. Calcule e mostre:
o produto do dobro do primeiro com metade do segundo .
a soma do triplo do primeiro com o terceiro.
o terceiro elevado ao cubo.

In [ ]:
def dobro(numero):
  return numero * 2

def metade(numero):
  return numero/2

num1 = int(input("Digite o primeiro número inteiro: "))
num2 = int(input("Digite o segundo número inteiro: "))
num3 = float(input("Digite um número real: "))

resultado1 = dobro(num1) * metade(num2)
resultado2 = (3 * num1) + num3
resultado3 = num3 ** 3

print("O produto do dobro do primeiro com metade do segundo é:", resultado1)
print("A soma do triplo do primeiro com o terceiro é:", resultado2)
print("O terceiro elevado ao cubo é:", resultado3)

In [ ]:
num1 = int(input("Digite o primeiro número inteiro: "))
num2 = int(input("Digite o segundo número inteiro: "))
num3 = float(input("Digite um número real: "))

d_num1 = num1 * 2
m_num2 = num2 / 2

resultado1 = d_num1 * m_num2
resultado2 = (num1 * 3) + num3
resultado3 = num3 * num3 * num3

print("O produto do dobro do primeiro com metade do segundo é:", resultado1)
print("A soma do triplo do primeiro com o terceiro é:", resultado2)
print("O terceiro elevado ao cubo é:", resultado3)

Faça um programa que peça a temperatura em graus Celsius, transforme e mostre em graus Fahrenheit.

In [ ]:
celsius = float(input("Digite a temperatura em graus Celsius: "))
fahrenheit = (celsius * 9/5) + 32
print("A temperatura em graus Fahrenheit é:", fahrenheit)

Digite a temperatura em graus Celsius: 5
A temperatura em graus Fahrenheit é: 41.0

Tendo como dados de entrada a altura de uma pessoa, construa um algoritmo que calcule seu peso ideal, usando a seguinte fórmula: (72.7*altura) - 58

In [ ]:
altura = float(input("Digite sua altura (em metros): "))
peso_ideal = (72.7 * altura) - 58
print("Seu peso ideal é:", peso_ideal, "kg")

Faça um Programa que pergunte quanto você ganha por hora e o número de horas trabalhadas no mês. Calcule e mostre o total do seu salário no referido mês, sabendo-se que são descontados 11% para o Imposto de Renda, 8% para o INSS e 5% para o sindicato, faça um programa que nos dê:
salário bruto.
quanto pagou ao INSS.
quanto pagou ao sindicato.
o salário líquido.
calcule os descontos e o salário líquido

In [ ]:
valor_hora = float(input("Digite o valor que você ganha por hora: "))
horas_trabalhadas = float(input("Digite o número de horas trabalhadas no mês: "))

salario_bruto = valor_hora * horas_trabalhadas
imposto_renda = 0.11 * salario_bruto
inss = 0.08 * salario_bruto
sindicato = 0.05 * salario_bruto
salario_liquido = salario_bruto - imposto_renda - inss - sindicato

print("Salário Bruto: R$", salario_bruto)
print("Imposto de Renda (11%): R$", imposto_renda)
print("INSS (8%): R$", inss)
print("Sindicato (5%): R$", sindicato)
print("Salário Líquido: R$", salario_liquido)

Tendo como dado de entrada a altura (h) de uma pessoa, construa um algoritmo que calcule seu peso ideal, utilizando as seguintes fórmulas:
Para homens: (72.7*h) - 58
Para mulheres: (62.1*h) - 44.7

In [ ]:
altura = float(input("Digite sua altura (em metros): "))
genero = input("Digite seu gênero (M para masculino ou F para feminino): ")

if genero == "M":
    peso_ideal = (72.7 * altura) - 58
    print("Seu peso ideal é:", peso_ideal, "kg")
elif genero == "F":
    peso_ideal = (62.1 * altura) - 44.7
    print("Seu peso ideal é:", peso_ideal, "kg")
else:
    print("Gênero inválido. Digite M para masculino ou F para feminino.")

Faça um programa que leia o salário de um funcionário e exiba o seu aumento de acordo com a tabela a seguir: Salário até 1.000,00 reais: aumento de 20%; Salário até 2.000,00 reais: aumento de 15%; Salário até 3.000,00 reais: aumento de 10%; Salário acima de 3.000,00 reais: aumento de 5%

In [ ]:
salario = float(input("Digite o salário do funcionário: "))

if salario <= 1000:
    novo_salario = salario * 1.2
    aumento = novo_salario - salario
    print("O novo salário é:", novo_salario)
    print("O aumento foi de:", aumento)
elif salario <= 2000:
    novo_salario = salario * 1.15
    aumento = novo_salario - salario
    print("O novo salário é:", novo_salario)
    print("O aumento foi de:", aumento)
elif salario <= 3000:
    novo_salario = salario * 1.1
    aumento = novo_salario - salario
    print("O novo salário é:", novo_salario)
    print("O aumento foi de:", aumento)
else:
    novo_salario = salario * 1.05
    aumento = novo_salario

# Exercícios de repetição

In [ ]:
numeros = [10, 20, 30, 40, 504, 60, 701, 805, 9, 100]
#print(numeros[3])

# comando para retorna o tamanho da lista
#print(len(numeros))

#comando para devolver o maior valor
#print(max(numeros))

#comando para devolver o menor valor
#print(min(numeros))

#comando de repetição para percorrer uma lista
numeros = [10, 20, 30, 40]
i = 0
for i in range(len(numeros)):
  print(numeros[i])

10
20
30
40

Faça um programa que some todos os valores da lista abaixo

In [ ]:
numeros = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
resultado = 0
for i in range(len(numeros)):
  resultado += numeros[i]
print(resultado)

In [16]:
n = [5, 11, 12, 10, 30, 40, 50, 80, 100, 12]
texto = ""
for i in range(len(n)) :
  texto += str(n[i]) + " "

print(texto)

5 11 12 10 30 40 50 80 100 12

In [27]:
n = [5, 11, 12]
i = 0
while i < len(n):
  print(n[i])
  i += 1

5
11
12

In [30]:
a = 15
b = 8
c = 16

if a > b and a > c:
  print(a)
elif b > a and b > c:
  print(b)
else:
  print(c)

16

Faça um programa que, dado um conjunto de N números, determine o menor valor, o maior valor e a soma dos valores (Use as funções min, max e sum).

In [ ]:
# Pede ao usuário para informar a quantidade de números
n = int(input("Quantos números deseja informar? "))

# Inicializa a lista com o primeiro número informado pelo usuário
numeros = [float(input("Informe um número: "))]

# Pede ao usuário para informar os demais números
for i in range(n-1):
    numeros.append(float(input("Informe outro número: ")))

# Determina o menor, o maior valor e a soma dos valores
menor = min(numeros)
maior = max(numeros)
soma = sum(numeros)

# Exibe os resultados
print("Menor valor: %.2f" % menor)
print("Maior valor: %.2f" % maior)
print("Soma dos valores: %.2f" % soma)

#Exercícios de funções

Crie uma função que receba dois números como parâmetros e retorne o menor valor entre eles.

In [ ]:
def menor_valor(num1, num2):
    if num1 < num2:
        return num1
    else:
        return num2
menor_valor()

Crie uma função que receba um número como parâmetro e verifique se é par ou ímpar. A função deve retornar "par" se o número for par e "ímpar" se o número for ímpar.

In [ ]:
def par_ou_impar(num):
    if num % 2 == 0:
        return "par"
    else:
        return "ímpar"
par_ou_impar()

Crie uma função que receba uma lista de números como parâmetro e retorne a média desses números.

In [ ]:
def media_numeros(lista):
    soma = 0
    for numero in lista:
        soma += numero
    media = soma / len(lista)
    return media
media_numeros()

# Exercícios de listas

Crie uma lista com os números de 1 a 10 e exiba apenas os números pares.

In [ ]:
numeros = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
pares = []
for numero in numeros:
    if numero % 2 == 0:
        pares.append(numero)
print(pares)

Faça o exercicio acima usando função

In [ ]:
pares = []
def par(numero):
  if numero % 2 == 0:
    pares.append(numero)
  return pares

numeros = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
for numero in numeros:
  resultado = par(numero)
  
print(pares)

[2, 4, 6, 8, 10]

Crie uma lista com os números de 1 a 10 e substitua os valores pares pelo seu dobro. Em seguida, exiba o resultado.

In [ ]:
numeros = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
for i in range(len(numeros)):
    if numeros[i] % 2 == 0:
        numeros[i] = numeros[i] * 2
print(numeros)

# Exercícios de dicionários

Crie um dicionário com informações de uma pessoa, contendo as chaves "nome", "idade" e "cidade". Em seguida, exiba o dicionário completo.

In [ ]:
pessoa = {"nome": "João", "idade": 30, "cidade": "São Paulo"}
print(pessoa)

Crie um dicionário com as notas de um aluno, contendo as chaves "prova1", "prova2" e "trabalho". Em seguida, calcule a média do aluno e exiba o resultado.

In [ ]:
notas = {"prova1": 8.5, "prova2": 7.0, "trabalho": 9.0}
media = (notas["prova1"] + notas["prova2"] + notas["trabalho"]) / 3
print("Média: %.2f" % media)

Crie um dicionário com informações de uma pessoa, contendo as chaves "nome", "idade" e "cidade". Em seguida, altere o valor da chave "idade" para 35 e exiba o dicionário completo.

In [ ]:
pessoa = {"nome": "João", "idade": 30, "cidade": "São Paulo"}
pessoa["idade"] = 35
print(pessoa)

Crie um dicionário com as notas de vários alunos, contendo as chaves "prova1", "prova2" e "trabalho". Em seguida, calcule a média de cada aluno e exiba o resultado.

In [ ]:
alunos = {
    "aluno1": {"prova1": 8.5, "prova2": 7.0, "trabalho": 9.0},
    "aluno2": {"prova1": 7.0, "prova2": 6.5, "trabalho": 8.5},
    "aluno3": {"prova1": 9.0, "prova2": 8.5, "trabalho": 7.0}
}

for aluno, notas in alunos.items():
    media = (notas["prova1"] + notas["prova2"] + notas["trabalho"]) / 3
    print("%s - Média: %.2f" % (aluno, media))